<?xml version="1.0" encoding="utf-8"?>
<!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.commontasker" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission
        android:name="com.example.commontasker.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.commontasker.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.javapapers.android.googleplacesdetail.permission.MAPS_RECEIVE" />

    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <provider
        android:name=".SearchableProvider"
        android:authorities="com.example.commontasker.SearchableProvider" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".videos" />
        <activity android:name=".task" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity android:name=".SearchResultsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".task" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".discovery.WifiActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" />
        <activity android:name=".maintask"
            android:screenOrientation="portrait"/>
        <activity android:name=".ergo"
            android:screenOrientation="portrait"/>
        <activity android:name=".questions"
            android:screenOrientation="portrait"/>
        <activity android:name=".common"
            android:screenOrientation="portrait"/>
        <activity android:name=".questionanswers"
            android:screenOrientation="portrait"/>
        <activity android:name=".moirasou"
            android:screenOrientation="portrait"/>
        <activity android:name=".answer"
            android:screenOrientation="portrait"/>
        <activity android:name=".camera"
            android:screenOrientation="portrait"/>
        <activity android:name=".register"
            android:screenOrientation="portrait"/>
        <activity android:name=".AnswerDetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".moirasou1"
            android:screenOrientation="portrait"/>
        <activity android:name=".Questionitem"
            android:screenOrientation="portrait"/>
        <activity android:name=".moirasou3"
            android:screenOrientation="portrait"/>
        <activity android:name=".moirasou2"
            android:screenOrientation="portrait"/>
        <activity android:name=".sos"
            android:screenOrientation="portrait"/>
        <activity android:name=".eggrafh"
            android:screenOrientation="portrait"/>
        <activity android:name=".diathesimothta"
            android:screenOrientation="portrait"/>
        <activity android:name=".taskdetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".swipe"
            android:screenOrientation="portrait"/>
        <activity android:name=".SendSmsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ReceiveSMSActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".sms"
            android:screenOrientation="portrait"/>
        <activity android:name=".createtask"
            android:screenOrientation="portrait"/>
        <activity android:name=".FbActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".TopFreeFragment"
            android:screenOrientation="portrait"/>
        <activity android:name=".TopPaidFragment"
            android:screenOrientation="portrait"/>
        <activity android:name=".HomeFrag"
            android:screenOrientation="portrait"/>
        <activity android:name=".AndroidFacebookActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Chat_Room"
            android:screenOrientation="portrait"/>
        <activity android:name=".AntikeimenoDetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".realchattime"
            android:screenOrientation="portrait"/>
        <activity android:name=".ErgoDetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".customOnItemSelectedListener1"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_place_api" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".SmsBroadcastReceiver"
            android:screenOrientation="portrait"
            android:exported="true" >
            <intent-filter android:priority="999" >
                <action android:name="android.provider.Telephony.SMS_RECEIVER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>